{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block main %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>About Me</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="row align-items-center">
          <div class="col-md-8 order-2 order-md-1">
            <h5>Hello, my name is Limah Temitope</h5>
            <p>
              Welcome to my first app project! As a passionate Python developer,
              I embarked on this journey with a drive to create something both innovative
              and impactful. This project marks a significant milestone in my career as a
              Python developer, combining the skills I’ve honed and my vision for creating
              useful and engaging applications
            </p>
            <p>
              My journey began with a fascination for technology and a desire to solve real-world
              problems. I’ve delved into various aspects of Python development, from back-end
              programming to crafting user-friendly interfaces. This project is not just a showcase
              of my technical abilities but a testament to my dedication and love for coding.
            </p>
             <p>
              The goal of this app is to provide a seamless and enjoyable experience for users,
               reflecting my commitment to quality and functionality. I am continually inspired by
               the potential of technology to make life better and am excited to see where this journey
               takes me next.
            </p>
            <p>
              Thank you for being a part of this experience. I welcome feedback, ideas, and suggestions
              on how to make the app even better. Together, we can build something remarkable.
            </p>

          </div>
          <div class="col-md-4 order-1 order-md-2 text-center mb-3 mb-md-0">
            <img src="../static/assets/img/beautiful_me.jpg" class="img-fluid" alt="Beautiful Me" style="max-width: 100%;">
            <img src="../static/assets/img/2nd Beautiful me.jpg" class="img-fluid" alt="2nd Beautiful Me" style="max-width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
