{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block main %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/signup.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Signup</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="{{ 'flash-success' if category == 'success' else 'flash-error' }}">
                <span class="flash-icon">
                  {% if category == 'success' %}
                    ✔️
                  {% elif category == 'error' %}
                    ❌
                  {% endif %}
                </span>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if suggested_name %}
           <div style="text-align:center">
            <span style="text-align:center" >Try this:  <em style="color: red">{{suggested_name}}</em></span>
           </div>
        {% elif email_exist %}
          <div style="text-align:center">
            <span class="flash" style="text-align:center">Click to <a href="{{ url_for('auth.login') }}" style="color:blue"><em><u>login</u></em></a> instead</span>
          </div>
        {% endif %}
        <!--Rendering the registration form here-->
        <form method="POST" action="{{ url_for('auth.signup') }}">
          {% from 'bootstrap5/form.html' import render_form %}
          {{render_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
